@use "../shared.scss";
$mobile-format: 375px;
$desktop-format: 1024px;


  .collapse {
    margin: 50px;
    .collapse-top {
      height: 40px;
    }
  }


@media (max-width: 1024px) {
  .collapse {
    margin: 20px;
    .collapse-top {
      height: 40px;
    }
  }
}