@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat.ttf") format("truetype");
}

.logementDetail {
  .part-one,
  .part-two,
  .part-three {
    font-family: "Montserrat";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
    margin-top: 30px;
  }
  .part-one {
    height: 77px;
    align-items: center;
    .part-one_leftside {
      h1 {
        font-weight: 500;
        font-size: 36px;
        line-height: 51px;
        color: #ff6060;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
      }
    }
    .part-one_rightside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 9px;
      img {
        width: 64px;
        height: 64px;
        border-radius: 100%;
      }
      p {
        color: #ff6060;
        font-weight: 500;
        font-size: 18px;
        line-height: 10px;
        text-wrap: wrap;
        text-align: end;    
      }
    }
  }
  .part-two {
    .part-two_leftside {
      display: flex;
      flex-direction: row;
      gap: 9px;
      p {
        min-width: 115px;
        height: 25px;
        color: white;
        background-color: #ff6060;
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        padding: 0px 20px;
      }
    }
  }
  .part-three {
    .collapse {
      width: 46%;
    }
  }
}
